<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Restaurant</title>
</head>
<body>

    <h1>Edit {{ i.name }}</h1>

    <form action="{{ url_for('editRestaurant', restaurant_id = restaurant_id) }}" method="post">
            <p>Name:</p>
            <input type="text" size="50" name="name" placeholder="New Restaurant Name">
            <input type="submit" value="Amend">
    </form>
    </br><a href="{{ url_for('showRestaurants') }}">Cancel</a>
    
</body>
</html>